<style type="text/css">
.announcement-banner {
    background-color: #FFF9C4; /* Lighter yellow color */
    color: #555; /* Softer, dark gray text for subtlety */
    padding: 12px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #FBC02D; /* Subtle border */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}
.announcement-banner p {
    margin: 0;
}
</style>
<section class="section summary-section">

  <div class="announcement-banner">
    <h3>Announcement</h3>
    <p>Dr. Polley is thrilled to join the team at Vantage Mental Health on June 16th, 2025</p>
    <p>Learn more and schedule appointments:</p>
    <p style="font-weight:bold;text-align:center;"><a href="https://www.vantagementalhealth.org/providers/p/sara-polley-psychiatrist">vantagementalhealth.org</a></p>
  </div>

</section><!--//section-->
