{% assign clinical-services = site.data.data.clinical-services %}
{% if clinical-services %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-notes-medical fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ clinical-services.title }}
  </h2>

  <div class="summary">
    {{ clinical-services.summary | markdownify }}
  </div><!--//summary-->
</section><!--//section-->
{% endif %}
