<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-play fa-stack-1x fa-inverse"></i>
    </span>
    Media
  </h2>

  <div class="skillset">
    <div><a href="https://www.mprnews.org/episode/2023/09/06/the-cannabis-talk-you-should-have-with-your-kids">The 'cannabis talk' you should have with your kids</a> - MPR News with Angela Davis</div>


<style type="text/css">
.caption {
  color: gray;
  font-size:14px;
  text-align: center;
}
</style>

    <img style="width:100%;padding:30px 30px 0px 30px;" src="/assets/images/mpr-news-angela-davis-cannabis-youth-sara-polley.jpg" alt="MPR News host Angela Davis (left) talks about how to have "the cannabis talk" with children and teenagers with Dr. Katy Miller and Dr. Sara Polley in an MPR News studio in St. Paul on Thursday."/>
    <p class="caption">MPR News host Angela Davis (left) talks about how to have "the cannabis talk" with children and teenagers with Dr. Katy Miller and Dr. Sara Polley in an MPR News studio in St. Paul on Thursday.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/J1Im5X2IpGo?si=Q_B3vuxCNeCAfacn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/yYdIKFI9AFk?si=R9b_jUd95sY5t9mA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>
